PORT=3000

# Firebase
FIREBASE_API_KEY=<INSERT_YOUR_FIREBASE_API_KEY>
FIREBASE_AUTH_DOMAIN=<INSERT_YOUR_AUTH_DOMAIN>
FIREBASE_DATABASE_URL=<INSERT_YOUR_DATABASE_URL>
FIREBASE_PROJECT_ID=<INSERT_YOUR_PROJECT_ID>
FIREBASE_STORAGE_BUCKET=<INSERT_YOUR_STORAGE_BUCKET>
FIREBASE_MESSAGING_SENDER_ID=<INSERT_YOUR_MESSAGING_SENDER_ID>
FIREBASE_APP_ID=<INSERT_YOUR_MESSAGING_APP_ID>
FIREBASE_MEASUREMENT_ID=<INSERT_YOUR_MEASUREMENT_ID>

# Postgres
PSQL_HOST=localhost
PSQL_USER=addressbook
PSQL_PASSWORD=addressbook_auth
PSQL_PORT=5432
PSQL_DATABASE=addressbook

# jwt
JWT_SECRET=if1teLlYoUi7sn0taSeCr3taNym0re